* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Lato", sans-serif;
  color: #000;
  font-size: 20px;
}

ul,
li {
  list-style: none;
}

body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

h1 {
  font-size: 32px;
  text-align: center;
  color: #ffffff;
}

h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

img {
  max-width: 100%;
}

.container {
  max-width: 730px;
  margin: 0 auto;
  padding: 0px;
}

/* Шапка */

header {
  background: linear-gradient(to top, #ffffff, #003e39 /*#352a3b*/);
}

header h1 {
  padding: 40px 0px 30px 0px;
}

.header-section {
  display: flex;
  margin-bottom: 30px;
  line-height: 33px;
  align-items: center;
}

.header-img {
  margin-right: 50px;
}

.header-img img {
  border-radius: 20%;
}

.header-img img:hover {
  transition-timing-function: ease-out;
  border-radius: 50%;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 1);
  transition-duration: 0.8s;
}

.header-info {
  vertical-align: top;
  width: 100%;
}

.header-info-item {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgba(90, 90, 90, 0.3);
}

.content-email {
  color: rgb(23, 32, 167);
}

.content-email:hover {
  color: rgb(255, 0, 0);
}

/* _______________________________ */

/* Body */

.main-skills {
  margin-bottom: 30px;
}

.main-skills-list {
  display: flex;
  flex-wrap: wrap;
}

.main-skills-list li {
  font-weight: 600;
  padding: 5px;
  border: 1px solid rgba(90, 90, 90, 0.5);
  border-radius: 20px 0px 20px 0px;
  margin-right: 10px;
  margin-bottom: 10px;
  background-color: rgba(175, 175, 175, 0.3);
}

.main-skills-list li:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.3);
  transition-duration: 0.8s;
  transition-timing-function: ease-out;
  border-radius: 0px 20px 0px 20px;
}

.main-skills-list li:last-child {
  margin-right: 0;
}

.main-about-me {
  margin-bottom: 30px;
}

.main-about-me-context {
  max-width: 730px;
  text-align: justify;
}

.main-education {
  max-width: 100%;
  margin-bottom: 30px;
}

.mine-me-education-item {
  display: flex;
}

.mine-me-education-item p {
  margin: 0px 20px 10px 0px;
  text-align: justify;
}

.mine-me-education-item .me-education-row-second {
  align-self: center;
  margin-right: 118px;
}

.mine-me-education-item p:last-child {
  margin: 0;
}

.main-language {
  margin-bottom: 30px;
}

.main-language-info.text-decoration {
  line-height: 24px;
}

/* _______________________________________ */

/* Подвал */

footer {
  padding: 20px;
  background: linear-gradient(to bottom, #ffffff, #003e39);
}

.footer-context-info {
  display: flex;
  align-items: center;
}

.footer-context-info a {
  margin-right: 40px;
  padding: 10px;
}

.footer-context-info a:last-child {
  margin-right: 0px;
}

.text-decoration {
  line-height: 20px;
  word-spacing: 2px;
}

.font-weight {
  font-weight: 600;
}

.gray-title {
  color: rgb(90, 90, 90);
}

/* _________________________________________ */

@media (max-width: 992px) {
  .container {
    max-width: 750px;
  }

  h1 {
    margin: 0px 0px 30px 0px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: none;
    padding: 0 20px;
  }

  .header-section {
    display: block;
  }

  .header-img {
    margin-right: 0px;
  }

  .header-info {
    width: 100%;
    margin: 0 auto;
  }

  .header-img {
    max-width: 200px;
    max-height: 200px;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 15px;
  }

  .header-info h2 {
    text-align: center;
  }

  .header-info-container {
    display: inline-flex;
    flex-wrap: wrap;
  }

  .header-info-item {
    display: flex;
    width: 100%;
  }

  .main-skills-list li {
    padding-bottom: 5px;
  }
}

@media (max-width: 501px) {
  .container {
    max-width: none;
    padding: 0 10px;
  }

  .main-skills-list li,
  .main-about-me-context p,
  .main-language-info p,
  .mine-me-education-item p,
  .header-info-item p,
  .header-info-item a {
    font-size: 18px;
  }

  .header-section {
    line-height: 28px;
  }

  .header-info h2,
  .main-skills h2,
  .main-about-me h2,
  .main-education h2,
  .main-language h2,
  .main-language h2 {
    font-size: 26px;
  }

  .main-about-me-context,
  .mine-me-education-item p {
    text-align: left;
  }

  .mine-me-education-item .me-education-row-second {
    margin-right: 108px;
  }

  .footer-context-info {
    justify-content: space-between;
  }
}

@media (max-width: 340px) {
  .header-info h2,
  .main-skills h2,
  .main-about-me h2,
  .main-education h2,
  .main-language h2,
  .main-language h2 {
    font-size: 24px;
  }

  .header-info-item,
  .main-skills-list li,
  .main-about-me-context p,
  .main-about-me-context em,
  .header-info-item p,
  .header-info-item a,
  .mine-me-education-item p,
  .main-language-info p {
    font-size: 16px;
  }
}

